.mio-stage-backdrop {
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url("../../assets/stages/mio/background.jpg");
}

.mio-stage {
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url("../../assets/stages/mio/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    color: black;
}
