:root {
    --track-border-size: 2px;
    --track-border-color: rgb(80, 80, 80);
    --track-part-spaceholder: 64px;
}

.track {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
}

.horizontal {
    background-image: url(../../assets/track/track-horizontal.png);
    border-top: var(--track-border-size) solid var(--track-border-color);
    border-bottom: var(--track-border-size) solid var(--track-border-color);
    flex-direction: column;
}

.vertical {
    background-image: url(../../assets/track/track-vertical.png);
    border-left: var(--track-border-size) solid var(--track-border-color);
    border-right: var(--track-border-size) solid var(--track-border-color);
}

.track-part {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.left {
    background-image: url(../../assets/track/indicator-left.png);
}

.right {
    background-image: url(../../assets/track/indicator-right.png);
    transform: translateX(calc(var(--track-part-spaceholder)*-1));
}

.up {
    background-image: url(../../assets/track/indicator-up.png);
}

.down {
    background-image: url(../../assets/track/indicator-down.png);
    transform: translateY(calc(var(--track-part-spaceholder)*-1));
}
