.input {}

.input span {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    max-width: calc(30% - 18px);
    text-align: right;
}

.input .checkbox {
    width: unset;
    height: 60%;
    margin-right: calc(70% - 13px);
    margin-top: 15px;
}

.input input, .input textarea {
    float: right;
    width: calc(70% - 18px);
    padding: 8px;
    border-radius: 8px;
}

.input a {
    float: right;
    width: calc(70% - 18px);
    padding: 8px;
    border-radius: 8px;
}
