.pagination-controller {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #17202e;
    padding: 15px 0;
}

.total-display {
    min-width: 100px;
    padding: 0 10px;
    line-height: 55px;
}
