.pagination-controller {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: transparent;
    background-image: url("../../assets/stages/mio/stage-stand.png");
    background-size: 1322px 86px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 15px 0;
}

.total-display {
    min-width: 100px;
    padding: 0 10px;
    line-height: 55px;
}
