.send-message-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
}

.preview-container {
    width: 340px;
    height: 220px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 0 10px 10px 10px;
    position: relative;
}

.preview-container span {
    position: absolute;
    left: -2px;
    top: -21px;
    padding: 0 10px;
    background-color: white;
    color: black;
    border-radius: 5px 5px 0px 0px;
}

.send-message-container .form-container {
    width: 340px;
}

.mimic {
    height: 60px;
    margin-bottom: 50px;
}

@media (max-width: 712px) {
    .send-message-container .form-container {
        margin: 16px 0;
    }

    .preview-container {
        margin-top: 40px;
        width: 310px;
    }

    .mimic {
        display: none;
    }
}

.action-container {
    margin-left: -6%;
    margin-right: 6%;
}

.notes {
    width: 80%;
    margin-left: -6%;
    margin-right: 6%;
}

.notes p {
    text-align: start;
}

.notes a {
    color: white;
}
