.send-message-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
}

.preview-container {
    width: 340px;
    height: 220px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
}

.send-message-container .form-container {
    width: 340px;
}

.mimic {
    height: 60px;
    margin-bottom: 30px;
}

@media (max-width: 712px) {
    .send-message-container .form-container {
        margin: 16px 0;
    }
}
