.miofa-with-message {
    width: 140px;
    margin-top: -30px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-container {
    width: 180px;
    height: 70px;
    z-index: 10;
    left: -30px;
    position: absolute;
    top: -15px;
    border: 2px dashed #aa8ac8;
    border-radius: 10px;
    background-color: #0b111c;
    color: #d7e5ee;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container.big {
    width: 250px;
    height: 125px;
    left: -65px;
    top: -60px;
}
