:root {
    --miofa-frame1: url("../../../assets/prop/fan/miofa-1.png");
    --miofa-frame2: url("../../../assets/prop/fan/miofa-2.png");
}

.miofa-container {
    margin: -10px;
    margin-top: -30px;
    position: relative;
    animation-name: message-holder-animate;
    animation-iteration-count: infinite;
}

@keyframes message-holder-animate {
    0% {
        transform: none;
    }
    49% {
        transform: none;
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.miofa {
    width: 90px;
    height: 90px;
    animation-name: message-fan-holder-animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-size: cover;
}

@keyframes message-fan-holder-animate {
    0% {
        background-image: var(--miofa-frame1);
    }
    49% {
        background-image: var(--miofa-frame1);
    }
    50% {
        background-image: var(--miofa-frame2);
    }
    100% {
        background-image: var(--miofa-frame2);
    }
}

.debug-indicator {
    position: absolute;
    color: black;
    width: 100%;
    bottom: 42px;
}
