.miofa-with-message {
    width: 140px;
    margin-top: -30px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-container {
    width: 180px;
    height: 70px;
    z-index: 10;
    left: -30px;
    position: absolute;
    top: -15px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
